  @tailwind base;
  @tailwind components;
  @tailwind utilities;

body {
  background-image: url('../assets/3.3_experience_HERO.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}